/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Footer
06. Sign Up and Log In Pages
07. Media Queries
******************************************/

/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #555;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.p-large {
  font: 400 1.125rem/1.75rem "Open Sans", sans-serif;
}

.p-small {
  font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
}

h1 {
  color: #333;
  font: 700 2.5rem/3.125rem "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}

h2 {
  color: #333;
  font: 700 2rem/2.625rem "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}

h3 {
  color: #333;
  font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}

h4 {
  color: #333;
  font: 700 1.375rem/1.75rem "Open Sans", sans-serif;
  letter-spacing: -0.1px;
}

h5 {
  color: #333;
  font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
  letter-spacing: -0.1px;
}

h6 {
  color: #333;
  font: 700 1rem/1.375rem "Open Sans", sans-serif;
  letter-spacing: -0.1px;
}

.above-heading {
  color: #5f4dee;
  font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
  text-align: center;
}

.p-heading {
  margin-bottom: 3.25rem;
}

.testimonial-text {
  font: italic 400 1rem/1.625rem "Open Sans", sans-serif;
}

.testimonial-author {
  font: 700 1rem/1.625rem "Open Sans", sans-serif;
  letter-spacing: -0.1px;
}

.li-space-lg li {
  margin-bottom: 0.375rem;
}

.indent {
  padding-left: 1.25rem;
}

a {
  color: #555;
  text-decoration: underline;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

a.white {
  color: #fff;
}

.decorative-line {
  display: block;
  width: 5rem;
  height: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.blue {
  color: #5f4dee;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: #5f4dee;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #5f4dee;
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: #5f4dee;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #5f4dee;
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: transparent;
  color: #5f4dee;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: #5f4dee;
  color: #fff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: transparent;
  color: #5f4dee;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: #5f4dee;
  color: #fff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 0.875rem 1.5rem 0.875rem 1.5rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: transparent;
  color: #5f4dee;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: #5f4dee;
  color: #fff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
  margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
  margin-top: 0.375rem;
}

.label-control {
  position: absolute;
  top: 0.87rem;
  left: 1.25rem;
  color: #555;
  opacity: 1;
  font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
  cursor: text;
  transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .label-control {
    top: 0.9375rem;
  }
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
  top: 0.125rem;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: 700;
}

.form-control-input,
.form-control-select {
  display: block; /* needed for proper display of the label in Firefox, IE, Edge */
  width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 0.0625rem;
  padding-left: 1.25rem;
  border: 1px solid #c4d8dc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #555;
  font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
  transition: all 0.2s;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .form-control-input {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    line-height: 1.75rem;
  }

  .form-control-select {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
    height: 3.125rem;
    line-height: 2.125rem;
  }
}

select {
  /* you should keep these first rules in place to maintain cross-browser behavior */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}

select::-ms-expand {
  display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
  display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
  width: 100%;
  height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
  padding-top: 1.25rem;
  padding-left: 1.3125rem;
  border: 1px solid #c4d8dc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #555;
  font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
  transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.checkbox {
  font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

input[type="checkbox"] {
  vertical-align: -15%;
  margin-right: 0.375rem;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  border: 1px solid #5f4dee;
  border-radius: 1.5rem;
  background-color: #5f4dee;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  background-color: transparent;
  color: #5f4dee;
}

/* Form Success And Error Message Formatting */
#smsgSubmit.h3.text-center.tada.animated,
#lmsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#smsgSubmit.h3.text-center,
#lmsgSubmit.h3.text-center,
#nmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
  display: block;
  margin-bottom: 0;
  color: #555;
  font-size: 1.125rem;
  line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
  color: #555;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: left;
}

.help-block.with-errors ul {
  margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/**************************/
/*     03. Navigation     */
/**************************/

.navbar-custom {
  background-color: #5f4dee;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
  transition: all 0.2s;
}

.navbar-custom .container {
  max-width: 87.5rem;
}

.navbar-custom .navbar-brand.logo-image img {
  width: 4.4375rem;
  height: 1.75rem;
}

.navbar-custom .navbar-brand.logo-text {
  font: 700 2rem/1.5rem "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #f7f5f5;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
  color: #fff;
  opacity: 1;
}

.navbar-custom .nav-item .btn-outline-sm {
  margin-top: 0.25rem;
  margin-bottom: 1.375rem;
  margin-left: 0.5rem;
  border: 0.125rem solid #fff;
  color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
  background-color: #fff;
  color: #5f4dee;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5f4dee !important;
}
.main {
  margin-top: 30px;
}
/*********************/
/*    04. Header     */
/*********************/
.header {
  background-color: #5f4dee;
}

.header .header-content {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

.header .text-container {
  margin-bottom: 3rem;
}

.header h1 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
}

.header .p-large {
  margin-bottom: 2rem;
  color: #f3f7fd;
}

.header .btn-solid-lg {
  margin-right: 0.5rem;
  margin-bottom: 1.125rem;
  margin-left: 0.5rem;
  border-color: #f3f7fd;
  background-color: #f3f7fd;
  color: #5f4dee;
}

.header .btn-solid-lg:hover {
  background: transparent;
  color: #f3f7fd;
}

.header .btn-outline-lg {
  border-color: #f3f7fd;
  color: #f3f7fd;
}

.header .btn-outline-lg:hover {
  background-color: #f3f7fd;
  color: #5f4dee;
}

.header-frame {
  margin-top: -1px; /* To remove white margin in FF */
  width: 100%;
  height: 2.25rem;
}
.image-container {
  width: 800px;
  height: auto;
}

/* Signup Button */
.lightbox-basic .btn-solid-reg.mfp-close {
  position: relative;
  width: auto;
  height: auto;
  color: #fff;
  opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
  color: #5f4dee;
}
/* end of signup Button */

/* Back Button */
.lightbox-basic a.mfp-close.as-button {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 0.375rem;
  color: #5f4dee;
  opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
  color: #fff;
}
/* end of back button */

.lightbox-basic button.mfp-close.x-button {
  position: absolute;
  top: -0.125rem;
  right: -0.125rem;
  width: 2.75rem;
  height: 2.75rem;
  color: #707984;
}

/**********************/
/*     05. Footer     */
/**********************/
.footer-frame {
  width: 100%;
  height: 1.5rem;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
}

.footer .footer-col {
  margin-bottom: 2.25rem;
}

.footer h4 {
  margin-bottom: 0.625rem;
  color: #5f4dee;
}

.footer .list-unstyled,
.footer p {
  color: #5f4dee;
}

.footer .footer-col.middle .list-unstyled .fas {
  color: #5f4dee;
  font-size: 0.5rem;
  line-height: 1.5rem;
}

.footer .footer-col.middle .list-unstyled .media-body {
  margin-left: 0.5rem;
}

.footer .footer-col.last .list-unstyled .fas {
  color: #5f4dee;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer .footer-col.last .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .footer-col.last .list-unstyled .fas.fa-globe {
  margin-left: 1rem;
  margin-right: 0.625rem;
}
a.white {
  color: black;
}

/****************************************/
/*     06. Sign Up and Log In Pages     */
/****************************************/
.ex-2-header {
  padding-top: 9rem;
  background-color: #5f4dee;
  text-align: center;
  min-height: 100vh;
}

.ex-2-header h1,
.ex-2-header p {
  color: #fff;
}

.ex-2-header p {
  max-width: 24rem;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
}

.ex-2-header .form-container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2.25rem 1.25rem 1.25rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #f3f7fd;
}

.ex-2-header .checkbox {
  text-align: left;
}

/*****************************/
/*     07. Media Queries     */
/*****************************/
/* Min-width width 768px */
@media (min-width: 768px) {
  /* General Styles */
  .p-heading {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  .h2-heading {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Header */
  .header .text-container {
    margin-bottom: 4rem;
  }

  .header h1 {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }

  .header .btn-solid-lg {
    margin-bottom: 0;
    margin-left: 0;
  }

  .header-frame {
    height: 5.5rem;
  }
  /* end of header */

  /* Sign Up And Log In Pages */
  .ex-2-header {
    padding-top: 11rem;
  }

  .ex-2-header .form-container {
    padding: 2.25rem 1.75rem 1.25rem 1.75rem;
  }
  /* end of sign up and log in pages */
}
/* end of min-width width 768px */

/* Min-width width 992px */
@media (min-width: 992px) {
  /* Navigation */
  .navbar-custom {
    padding: 2.125rem 1.5rem 2.125rem 2rem;
    background: transparent;
    box-shadow: none;
  }

  .navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-custom .nav-item .nav-link {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  }

  .navbar-custom .nav-item .nav-link:hover,
  .navbar-custom .nav-item .nav-link.active {
    opacity: 1;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    background-color: #5f4dee;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  }

  .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
  .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: #fff;
  }

  .navbar-custom .dropdown-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 0.25rem solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
  }

  .navbar-custom.top-nav-collapse .dropdown-menu {
    border-top: 0.25rem solid rgba(0, 0, 0, 0);
    box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
  }

  .navbar-custom .dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .navbar-custom .dropdown-items-divide-hr {
    width: 84%;
  }

  .navbar-custom .nav-item .btn-outline-sm {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  /* end of navigation */

  /* General Styles */
  .p-heading {
    width: 65%;
  }

  .h2-heading {
    width: 60%;
  }
  /* end of general styles */

  /* Header */
  .header .header-content {
    text-align: left;
  }

  .header .text-container {
    margin-top: 4rem;
    margin-bottom: 0;
  }

  .header .image-container {
    position: relative;
    margin-top: 3rem;
  }

  .header .image-container .img-wrapper {
    position: absolute;
    display: block;
    width: 470px;
  }

  .header-frame {
    height: 8rem;
  }
  /* end of header */

  /* Description */
  .cards-1 .card {
    display: inline-block;
    width: 17rem;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    vertical-align: top;
  }

  .cards-1 .card-image {
    width: 9rem;
  }
  /* end of description */
}
/* end of min-width width 992px */

/* Min-width width 1200px */
@media (min-width: 1200px) {
  /* General Styles */
  .h2-heading {
    width: 50%;
  }
  /* end of general styles */

  /* Header */
  .header .header-content {
    padding-top: 11rem;
    padding-bottom: 5rem;
  }

  .header .text-container {
    margin-top: 5.5rem;
    margin-right: 0.5rem;
  }

  .header .image-container {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .header .image-container .img-wrapper {
    width: 630px;
  }

  .header-frame {
    height: 9.375rem;
  }
  /* end of header */

  /* Footer */
  .footer .footer-col.first {
    margin-right: 1.5rem;
  }

  .footer .footer-col.middle {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  .footer .footer-col.last {
    margin-left: 1.5rem;
  }
  /* end of footer */

  /* Extra Pages */
  .ex-header h1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .ex-basic-2 .form-container {
    margin-left: 1.75rem;
  }

  .ex-basic-2 .image-container-small {
    margin-left: 1.75rem;
  }
  /* end of extra pages */
}
/* end of min-width width 1200px */
